<!doctype html>
<html lang="en">
<head th:replace="~{fragments/head :: head}"></head>
    <body>
        <div th:insert="~{fragments/navigation-menu :: navigation}"></div>
        <div class="container">
            <div class="row">
                <div>
                    <a class="nav-item" th:href="@{/index}">Все</a>
                    <a class="nav-item" th:href="@{|/index/done/true|}">Выполненные</a>
                    <a class="nav-item" th:href="@{|/index/done/false|}">Новые</a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Дата добавления</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item: ${items}">
                        <td th:text="${item.id}" />
                        <td>
                            <a th:href="@{|/detail/${item.id}|}">
                                <span th:text="${item.name}" />
                            </a>
                        </td>
                        <td th:if="${item.isDone()}">Выполнено</td>
                        <td th:if="${!item.isDone()}">Не выполнено</td>
                        <td th:text="${#temporals.format(item.created, 'dd-MM-yyyy HH:mm')}" />
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <br>
            <form th:action="@{/add}" method="GET">
                <button type="submit" class="btn btn-primary">Добавить задание</button>
            </form>

        </div>
    </body>
</html>