<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div class="container" th:fragment="navigation">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">ToDo List</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" th:href="@{/index}">Главная <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" th:if="${account.name == 'Guest'}" th:href="@{/login}">
                            <span th:text="${account.name}"></span>
                            <span> | Войти</span>
                        </a>
                        <a class="nav-item nav-link" th:if="${account.name != 'Guest'}" th:href="@{/logout}">
                            <span th:text="${account.name}"></span>
                            <span> | Выйти</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>